*{
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 600;
}
#rclear {
    margin-top: 0px ;
    margin-bottom: 10px;
    width: 90px ;
}
#uclear {
    margin-top: 0px;
    margin-bottom: 10px ;
    width: 90px ;
}
.close {
    width: 10% !important;
}
.empty {
    height: 70px;
}
table tr td{
    border: 1px solid #000;
    text-align: center;
}
table {
    width: 100%;
}
table tr td{
    width:30%;
}
.border {
    border:1px solid #000!important;
}
.title {
    padding: 10px;;
}
.center {
    text-align: center;
}
h1,h2 {
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
#bg_grey {
    background-color:#d9d9d9;
    height: fit-content;
    line-height: 55px;
}
.container :nth-child(4) p {
    padding: 10px;
}

#mypadding input {
    padding-left: 60px;
}
.rofa {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
#left td {
    text-align: left;
    padding-left: 10px;
}
.mytable input {
    text-align: center!important;
}
button {
    width: 30%;
}
#Predel {
    float: right;
    width: 20%;
    margin-top: -20px;
    margin-right: 8%;
    margin-bottom: 9px;
}

#Ridel {
    float: right;
    width: 20%;
    margin-top: -20px;
    margin-right: 8%;
    margin-bottom: 9px;
}
input {
    font-size: 14px !important;
    font-weight: 600!important;
}

.modal-dialog {
    max-width: 1400px;
    margin: 1.75rem auto;
}
#tblData td, th {
    padding: 0;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

@media print {
    #Print {
      display: none !important;
    }
  }
